{{define "content"}}
	<div itemscope="itemscope" itemtype="http://schema.org/Article" class="topic">
		<div class="article">
			<img class="avatar" src="{{ gravatar .List.Tripcode }}" />
			<h3 id="{{.List.Id}}"><span itemprop="name">{{.List.Title}}</span> <a class="ref" href="/list/{{.List.Id}}/{{slug .List.Title}}">#{{.List.Id}}</a></h4>
			<div class="txt" itemprop="articleBody">
				{{.List.GetRendered}}
			</div>
		</div>
		<div class="meta ar">
			{{if .List.Tripcode}} [<b>{{.List.Tripcode}}</b>] [<a href="/edit.html?id={{.List.Id}}" rel="nofollow">{{lang "edit"}}</a>]{{end}}
			<em>{{ time .List.Created }}</em>
		</div>
	</div>
	{{template "pagination" .Pagination }}
	{{if .Items}}
	<ul>
	{{range $i, $item := .Items}}
		<li>
			<div itemscope="itemscope" itemtype="http://schema.org/Article" class="topic">
				<div class="article">
					<img class="avatar" src="{{ gravatar $item.Tripcode }}" />
					<h4 id="I{{$item.Id}}"><span itemprop="name">{{$item.Title}}</span> <a class="ref" href="/list/{{$.List.Id}}/{{slug $.List.Title}}#I{{$item.Id}}">#{{$item.Id}}</a></h4>
					<div class="txt" itemprop="articleBody">
						{{$item.GetRendered}}
					</div>
				</div>
				<div class="meta ar">
					{{if $item.Tripcode}} [<b>{{$item.Tripcode}}</b>] [<a href="/edit.html?id={{$item.Id}}" rel="nofollow">{{lang "edit"}}</a>]{{end}}
					[ <a href="/vote/{{$item.Id}}/{{slug $item.Title}}#post">{{lang "vote"}}</a> ]
					{{lang "rating"}}: <b>{{$item.Vote}}</b> |
					<em>{{ time $item.Created }}</em>
				</div>
			</div>
		</li>
	{{end}}
	</ul>
	{{end}}
	{{template "pagination" .Pagination }}
	{{template "form" .}}
{{end}}