{{define "content"}}
	<h2>{{ lang "Vote" }}</h2>

	<div itemscope="itemscope" itemtype="http://schema.org/Article" class="topic">
		<div class="article">
			<img class="avatar" src="{{ gravatar .List.Tripcode }}" />
			<h3 id="{{.List.Id}}"><a itemprop="name" href="/list/{{.List.Id}}/{{slug .List.Title}}">{{.List.Title}}</a></h3>
			<div class="txt" itemprop="articleBody">
				{{.List.GetRendered}}
			</div>
		</div>
		<div class="meta ar">
			{{if .List.Tripcode}} [<b>{{.List.Tripcode}}</b>] [<a href="/edit.html?id={{.List.Id}}" rel="nofollow">{{lang "edit"}}</a>]{{end}}
			<em>{{ time .List.Created }}</em> 
		</div>
	</div>
	<ul>
		<li>
			<div itemscope="itemscope" itemtype="http://schema.org/Article" class="topic">
				<div class="article">
					<img class="avatar" src="{{ gravatar .Item.Tripcode }}" />
					<h3 id="{{.Item.Id}}"><span itemprop="name">{{.Item.Title}}</span> <a class="ref" href="/vote/{{.Item.Id}}/{{slug .Item.Title}}">#{{.Item.Id}}</a></h3>
					<div class="txt" itemprop="articleBody">
						{{.Item.GetRendered}}
					</div>
				</div>
				<div class="meta ar">
					{{if .Item.Tripcode}} [<b>{{.Item.Tripcode}}</b>] [<a href="/edit.html?id={{.Item.Id}}" rel="nofollow">{{lang "edit"}}</a>]{{end}}
					<em>{{ time .Item.Created }}</em> |
					{{lang "rating"}}: <b>{{.Item.Vote}}</b>
				</div>
			</div>
			{{if .Items}}
			<ul>
			{{range $i, $item := .Items}}
				<li>
					<div itemscope="itemscope" itemtype="http://schema.org/Article" class="topic">
						<div class="article">
							<img class="avatar" src="{{ gravatar $item.Tripcode }}" />
							<h4 id="I{{$item.Id}}"><span itemprop="name">{{$item.Title}}</span> <a class="ref" href="/vote/{{$.Item.Id}}/{{slug $.Item.Title}}#I{{$item.Id}}">#{{$item.Id}}</a></h4>
							<div class="txt" itemprop="articleBody">
								{{$item.GetRendered}}
							</div>
						</div>
						<div class="meta ar">
							{{if $item.Tripcode}} [<b>{{$item.Tripcode}}</b>] [<a href="/edit.html?id={{$item.Id}}" rel="nofollow">{{lang "edit"}}</a>]{{end}}
							<em>{{ time $item.Created }}</em> |
							{{lang "rating"}}: <b>{{$item.Vote}}</b>
						</div>
					</div>
				</li>
			{{end}}
			</ul>
			{{end}}
		</li>
	</ul>
{{template "form" .}}
{{end}}