{{define "form"}}
	{{if .Errors }}
		{{.Errors}}
	{{end}}
	<form id="post" method="post">
		<div id="namef">Leaf thiz fild aloun <input type="text" name="name" value="" id="namef" /></div>
		<table>
			<tr>
				<td colspan="2">
					<label for="title">{{lang "Title"}}</label> <em title="{{lang "Mandatory"}}">*</em><br/>
					<input name="title" value="{{ .Form.Title }}" id="title" size="80" />
				</td>
			</tr>
			{{if .ShowVote}}
			<tr>
				<td colspan="2">
					<input type="radio" name="vote" value="y" {{if eq .Form.Vote 1}}checked="checked"{{end}} class="radio" id="vyes"  />
					<label for="vyes">{{lang "Up"}}</label>
					<input type="radio" name="vote" value="n" {{if eq .Form.Vote -1}}checked="checked"{{end}} class="radio" id="vno"  />
					<label for="vno">{{lang "Down"}}</label>
					<input type="radio" name="vote" value="z" {{if eq .Form.Vote 0}}checked="checked"{{end}} class="radio" id="vskip"  />
					<label for="vskip">{{lang "Comment"}}</label>
				</td>
			</tr>
			{{end}}
			<tr>
				<td colspan="2">
					<textarea name="body" cols="60" rows="10">{{ .Form.Body }}</textarea>
				</td>
			</tr>
			<tr>
				<td>
					<label for="password">{{lang "Optional tripcode password"}}</label><br />
					<input type="passwerd" name="password" size="60" id="password" />
				</td>
				<td valign="bottom" width="100px">
					<button name="post" onclick="this.disabled=true;this.form.submit()">{{ lang "Submit" }}</button>
				</td>
			</tr>
		</table>
	</form>
{{end}}