{{define "content"}}
	<h3 id="{{.List.Id}}">{{.List.Title}} <a href="/list/{{.List.Id}}/{{slug .List.Title}}">#{{.List.Id}}</a></h4>
	{{.List.GetRendered}}
	<p>
		{{if .List.Tripcode}} [<b>{{.List.Tripcode}}</b>]{{end}}
		<em>{{ time .List.Created }}</em>
	<p>
	<hr />
	{{if .Items}}
	<ol>
	{{range $i, $item := .Items}}
		<li>
			<h4 id="I{{$item.Id}}"><a href="/vote/{{$item.Id}}/{{slug $item.Title}}">{{$item.Title}}</a> <a href="/list/{{$.List.Id}}/{{slug $.List.Title}}#I{{$item.Id}}">#{{$item.Id}}</a></h4>
			{{$item.GetRendered}}
			<p>
				{{if $item.Tripcode}} [<b>{{$item.Tripcode}}</b>]{{end}}
				<em>{{ time $item.Created }}</em> |
				{{lang "rating"}}: <b>{{$item.Vote}}</b>
			</p>
			<hr/>
		</li>
	{{end}}
	</ol>
	{{end}}
	{{template "form" .}}
{{end}}