{{define "content"}}
<h2>{{ lang "Vote" }}</h2>

<h3 id="{{.List.Id}}"><a href="/list/{{.List.Id}}/{{slug .List.Title}}">{{.List.Title}}</a></h3>
<p>
	{{if .List.Tripcode}} [<b>{{.List.Tripcode}}</b>]{{end}}
	<em>{{ time .List.Created }}</em> 
<p>
{{.List.Rendered}}
<hr />
	<ol>
		<li>
			<h3 id="{{.Item.Id}}"><a href="/list/{{.List.Id}}/{{slug .Item.Title}}">{{.Item.Title}}</a></h3>
			<p>
				{{if .Item.Tripcode}} [<b>{{.Item.Tripcode}}</b>]{{end}}
				<em>{{ time .Item.Created }}</em> |
				{{lang "rating"}}: <b>{{.Item.Vote}}</b>
			</p>
			{{.Item.Rendered}}
			<hr />
			{{if .Items}}
			<ol>
			{{range $i, $item := .Items}}
				<li>
					<h4 id="I{{$item.Id}}">{{$item.Title}} <a href="/list/{{$.List.Id}}/{{$.Item.Id}}/vote.html#I{{$item.Id}}">#{{$item.Id}}</a></h4>
					<p>
						{{if $item.Tripcode}} [<b>{{$item.Tripcode}}</b>]{{end}}
						<em>{{ time $item.Created }}</em> |
						{{lang "rating"}}: <b>{{$item.Vote}}</b>
					</p>
					{{$item.Rendered}}
					<hr/>
				</li>
			{{end}}
			</ol>
			{{end}}
		</li>
	</ol>
{{template "form" .}}
{{end}}